@use "./variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

p {
    padding-bottom: $spacing-s;
    max-width: 70ch;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.3;
    font-family: "Lato", sans-serif;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
    font-weight: 900;
}

h2 {
    font-size: 2.441rem;
    font-weight: 700;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
    font-weight: 700;
}

h5 {
    font-size: 1.25rem;
    margin-bottom: $spacing-s;
}

.small-text {
    font-size: 0.8rem;
}

.large-text {
    font-size: 1.25rem;
}

.semi-bold {
    font-weight: 700;
}

.bold,
b {
    font-weight: 900;
}

a {
    font-weight: 700;
    text-decoration: underline;
    color: inherit;
}

.external-link {
    margin: 0 4px 0 2px;

    &::after {
        content: "";
        background-image: url(../images/icons/foreign.svg);
        background-size: cover;
        position: relative;
        display: inline-block;
        left: 4px;
        width: 0.9rem;
        height: 0.9rem;
        filter: invert(0%) sepia(11%) saturate(7481%) hue-rotate(175deg) brightness(110%) contrast(91%);
    }
}

.underline {
    padding-bottom: 2px;
    background: linear-gradient($color-primary, $color-primary) bottom;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: all 0.45s;

    &:hover,
    &:focus {
        background-size: 50% 2px;
        outline: none;
    }
}

.scale {
    transition: all 0.45s;

    &:hover,
    &:focus {
        transform: scale(1.1);
    }
}
