@use "../base/variables" as *;

code {
  display: inline-block;
  padding: $unit-1;
  font-size: 90%;
  width: 100%;
  white-space: nowrap;
  background: var(--background-color);
  border: $border-width solid var(--border);
  border-radius: $border-radius-s;
  position: relative;

  &[data-lang]::before {
      content: attr(data-lang);
      position: absolute;
      top: 0;
      right: $unit-05;
      opacity: 0.7;
      font-family: inherit;
    }
}

pre > code {
  white-space: pre;
}

@media (max-width: 500px) {
  code {
    overflow-x: scroll;
  }
}
