@use "../base/variables" as *;

.input,
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
  color: var(--font-color-form);
  padding: $unit-1;
  background-color: #fff;
  border: $border-width solid #d1d1d1;
  border-radius: $border-radius-s;
  box-shadow: none;
  box-sizing: border-box;
  margin: $border-offset;
  font-family: inherit;

  &:focus {
    border: $border-width-thick solid var(--color-primary);
    margin: 0;
    outline: none;
  }
}

textarea {
  resize: vertical;
}

label,
legend {
  display: block;
  font-weight: 400;
  font-size: calc(#{$unit-1} * 1.1);
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: $unit-05;
  font-weight: normal;
}
