@use "../base/variables" as *;

.icon {
    width: $unit-2;
    height: $unit-2;
    filter: var(--filter-primary);

    img {
        width: 100%;
        height: 100%;
    }

    &.s {
        width: $unit-1;
        height: $unit-1;
    }
    &.m {
        width: $unit-15;
        height: $unit-15;
    }
    &.l {
        width: $unit-25;
        height: $unit-25;
    }
}
