@use "../base/variables" as *;


input[type="checkbox"].toggle {
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

label .toggle + span{
    margin-left: $unit-35;
}

.toggle {
    height: $unit-1;
    width: $unit-2;
    border-radius: $border-radius-o;
    background-color: var(--shadow);
    display: inline-block !important;
    position: relative;
    margin: 1px;
    border: $border-width solid var(--color-primary);

    &:before {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        width: $unit-1;
        height: $unit-1;
        border-radius: $border-radius-o;
        background: var(--color-primary);
        box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
        transition: transform 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
    }
    
    &:after {
        content: attr(data-text);
        color: var(--font-color);
        font-size: calc(#{$unit-1} * 1.1);
        position: absolute;
        white-space: nowrap;
        left: 120%;
        top: 50%;
        transform: translatey(-50%);
    }

    &:checked {
        border-color: var(--color-primary);
        &:before {
            transform: translatex($unit-1);
            background: var(--color-primary);
        }
    }

    &.large {
        height: $unit-15;
        width: $unit-3;
    
        &:before {
            width: $unit-15;
            height: $unit-15;
        }
    
        &:checked {
            &:before {
                transform: translatex($unit-15);
            }
        }
    }
}
