@use "../base/variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Yanone+Kaffeesatz:wght@400;700&display=swap");
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 112.5%;
    line-height: 1.4;
    color: var(--font-color);
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 700;
    font-family: "Yanone Kaffeesatz", sans-serif;
}
h1 {
    font-size: clamp(2.15em, 7vw, 4.5rem);
    line-height: 1.2;
}
h2 {
    font-size: clamp(1.95em, 7vw, 3.5rem);
    line-height: 1.25;
}
h3 {
    font-size: clamp(1.5em, 7vw, 3rem);
    line-height: 1.3;
}
h4 {
    font-size: clamp(1em, 7vw, 2rem);
    line-height: 1.35;
}
h5 {
    font-size: 1.5rem;
}
h6 {
    font-size: 0.875rem;
}

// Body text
p {
    // max-width: 70ch;
}

.small-text,
small {
    font-size: 0.8rem;
}

.large-text {
    font-size: 1.25rem;
}

.xlarge-text {
    font-size: clamp(0.7em, 5vw, 2rem);
}

.semi-bold,
b {
    font-weight: 700;
}

.bold,
strong {
    font-weight: 900;
}

cite {
    font-style: italic;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1rem;
}

del,
s {
    text-decoration: line-through;
}

dfn {
    font-style: italic;
}

.em,
em {
    font-style: italic;
}

i {
    font-style: italic;
}

ins {
    text-decoration: underline;
}

mark {
    background-color: var(--color-primary-light);
    color: var(--font-color-inverse);
}

q {
    display: inline;
    quotes: unset;

    &::before {
        content: open-quote;
    }
    &::after {
        content: close-quote;
    }
}

blockquote {
    display: inline;
    quotes: unset;
    border-left: $border-width-thick solid var(--border-dark);
    padding-left: $layout-spacing;

    p {
        &::before {
            content: open-quote;
        }
        &::after {
            content: close-quote;
        }
    }
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

u {
    text-decoration: underline;
}

var {
    font-style: italic;
}

address {
    display: block;
    font-style: italic;
}

// Links
a {
    font-weight: 700;
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
        text-decoration: underline;
        cursor: pointer;
    }
}

.external-link {
    margin: 0 4px 0 2px;
    &::after {
        content: "";
        filter: var(--filter-primary);
        background-image: url(../icons/mdi_open-in-new.svg);
        background-size: cover;
        position: relative;
        display: inline-block;
        left: 4px;
        width: $unit-1;
        height: $unit-1;
    }
}
