@use "../base/variables" as *;

.box {
    background-color: var(--foreground-color);
    width: 100%;
    padding: $unit-1;
}

.shadow {
    box-shadow: $shadow-normal var(--shadow);

    &.s {
        box-shadow: $shadow-normal-s var(--shadow);
    }

    &.l {
        box-shadow: $shadow-normal-l var(--shadow);
    }
}

.round {
    &.s {
        border-radius: $border-radius-s;
    }
    &.l {
        border-radius: $border-radius-l;
    }
    &.o {
        border-radius: $border-radius-o;
    }
}

.gaps {
    // gaps in column layout
    display: flex;
    flex-flow: column nowrap;
    gap: $unit-4;
}

.nav-offset {
    padding-top: $unit-7;
}

.overlay {
    &::after {
        content: "";
        background-color: var(--color-primary-transparent);
        height: inherit;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .wrapper {
        position: relative;
        z-index: 2;
    }
}

// Base
.wrapper {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .wrapper {
        width: 95%;
    }
}

@media (max-width: 415px) {
    .wrapper {
        width: 97%;
    }
}

.wide {
    width: 100%;
}

.tall {
    height: 100%;
}

.hide {
    display: none !important;
}

.capitalize {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

// Flex
.flex {
    display: flex;

    &.center {
        justify-content: center;
        align-items: center;
    }

    &.row {
        align-items: center;
        flex-direction: row;
    }

    &.column {
        flex-direction: column;
    }

    &.between {
        justify-content: space-between;
    }

    &.end {
        justify-content: flex-end;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.align-start {
        align-items: flex-start;
    }

    &.align-end {
        align-self: flex-end;
    }

    &.align-center {
        align-self: center;
    }

    &.gap-05 {
        gap: $unit-05;
    }

    &.gap-1 {
        gap: $unit-1;
    }

    &.gap {
        gap: $unit-2;
    }

    &.gap-3 {
        gap: $unit-3;
    }

    &.row-reverse {
        flex-direction: row-reverse;
    }

    &.full-right {
        margin-left: auto;
    }

    &.full-left {
        margin-right: auto;
    }
}

// Text

.text {
    &.center {
        text-align: center;
    }

    &.left {
        text-align: left;
    }

    &.right {
        text-align: right;
    }

    &.justify {
        text-align: justify;
    }
}

// Columns
.columns-2 {
    columns: 2 auto;
}

.columns-3 {
    columns: 3 auto;
}
