@use "../base/variables" as *;

.box {
    background-color: var(--foreground-color);
    width: 100%;
    padding: $unit-1;
    box-shadow: $shadow-normal var(--shadow);
}

// Base
.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.wide {
    width: 100%;
}

.thin {
    max-width: 48%;
}

.hide {
    display: none;
}

// Flex
.flex {
    display: flex !important;
    
    &.center {
        justify-content: center;
        align-items: center;
    }
    
    &.row {
        align-items: center;
        flex-direction: row;
    }
    
    &.column {
        flex-direction: column;
    }
    
    &.between {
        justify-content: space-between;
    }
    
    &.end {
        justify-content: flex-end;
    }
    
    &.wrap {
        flex-wrap: wrap;
    }
    
    &.align-start {
        align-items: flex-start;
    }
    
    &.align-end {
        align-self: flex-end;
    }
    
    &.align-center {
        align-self: center;
    }
    
    &.gap-1 {
        gap: $unit-1;
    }
    
    &.gap {
        gap: $unit-2;
    }
    
    &.gap-3 {
        gap: $unit-3;
    }
    
    &.row-reverse {
        flex-direction: row-reverse;
    }
    
    &.full-right {
        margin-left: auto;
    }
    
    &.full-left {
        margin-right: auto;
    }
}
    
    // Text
    .center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

// Columns
.columns-2 {
    columns: 2 auto;
}

.columns-3 {
    columns: 3 auto;
}