@use "../base/variables" as *;

.theme-dark {
    // typography
    --font-color: #{$neutral-100};
    --font-color-dark: #{$neutral-80};
    --font-color-light: #{$neutral-20};
    --font-color-inverse: #{$neutral-0};
    --font-color-form: #{$neutral-25};
    --filter-font-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(94deg) brightness(102%) contrast(101%);
    --filter-font-color-inverse: brightness(0) saturate(100%) invert(0%) sepia(11%) saturate(7481%) hue-rotate(175deg) brightness(110%) contrast(91%);

    // base colors
    --color-primary: hsl(49, 100%, 50%);
    --color-primary-dark: hsl(49, 100%, 40%);
    --color-primary-light: hsl(49, 100%, 60%);
    --color-primary-overlay: hsla(49, 100%, 50%, 0.15);
    --filter-primary: brightness(0) saturate(100%) invert(78%) sepia(88%) saturate(4312%) hue-rotate(1deg) brightness(105%) contrast(102%);
    --background-color: #{$neutral-5};
    --foreground-color: #{$neutral-15};

    // shadow
    --shadow: #{$neutral-5};

    // borders
    --border: #{$border-color};
    --border-light: #{$border-color-dark};
    --border-dark: #{$border-color-light};

    // // Notification colors
    --color-success-dark: #{$success-color-light};
    --color-success-light: #{$success-color-dark};
    --color-error-dark: #{$error-color-light};
    --color-error-light: #{$error-color-dark};
    --color-warning-dark: #{$warning-color-light};
    --color-warning-light: #{$warning-color-dark};
}
