@use "../base/variables" as *;

.theme-light {
   // typography
    --font-color: #{$neutral-0};
    --font-color-dark: #{$neutral-20};
    --font-color-light: #{$neutral-80};
    --font-color-inverse: #{$neutral-100};
    --font-color-form: #{$neutral-25};
    --filter-font-color: invert(0%) sepia(11%) saturate(7481%) hue-rotate(175deg) brightness(110%) contrast(91%);
    --filter-font-color-inverse: invert(100%) sepia(100%) saturate(1%) hue-rotate(94deg) brightness(102%) contrast(101%);


    // base colors
    --color-primary: hsl(212, 100%, 50%);
    --color-primary-dark: hsl(212, 100%, 40%);
    --color-primary-light: hsl(212, 100%, 60%);
    --filter-primary: invert(39%) sepia(75%) saturate(6272%) hue-rotate(204deg) brightness(105%) contrast(106%);
    --background-color: #{$neutral-95};
    --foreground-color: #{$neutral-100};

    // shadow
    --shadow: #{$neutral-90};

    // borders
    --border: #{$border-color};
    --border-light: #{$border-color-light};
    --border-dark: #{$border-color-dark};

    // // Notification colors 
    --color-success-dark:#{$success-color-dark};
    --color-success-light: #{$success-color-light};
    --color-error-dark:#{$error-color-dark};
    --color-error-light: #{$error-color-light};
    --color-warning-dark:#{$warning-color-dark};
    --color-warning-light: #{$warning-color-light};

}
