@use "../base/variables" as *;

.text- {
  &primary {
    color: var(--color-primary);
  }
  &dark {
    color: var(--font-color-dark);
  }
  &gray {
    color: $neutral-50;
  }
  &light {
    color: var(--font-color-light);
  }
  &success {
    color: $success-color;
  }
  &warning {
    color: $warning-color;
  }
  &error {
    color: $error-color;
  }
}

.background- {
  &primary {
    background-color: var(--color-primary);
    color: var(--font-color-inverse);
  }
  &dark {
    background-color: var(--font-color-dark);
    color: var(--font-color-inverse);
  }
  &gray {
    background-color: $neutral-50;
  }
  &light {
    background-color: var(--font-color-light);
    color: var(--font-color-dark);
  }
  &success {
    background-color: $success-color;
    color: $neutral-0;
  }
  &warning {
    background-color: $warning-color;
    color: $neutral-0;
  }
  &error {
    background-color: $error-color;
    color: $neutral-0;
  }
}

.filter- {
  &font-color {
    filter: var(--filter-font-color);
  }
  &font-color-inverse {
    filter: var(--filter-font-color-inverse);
  }
  &primary {
    filter: var(--filter-primary);
  }
}
