@import url('https://fonts.googleapis.com/css?family=Roboto:400;600;800');

html {font-size: 100%;} /*16px*/

body {
  background: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #555555;
}

/* ----- Fonts ----- */
/* ----- Font size is "Major Second" from https://type-scale.com/ -----  */

p {padding-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  padding: 3rem 0 1.38rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  padding-top: 0;
  font-size: 1.802rem;
}

h2 {font-size: 1.602rem;}

h3 {font-size: 1.424rem;}

h4 {font-size: 1.266rem;}

h5 {font-size: 1.125rem;}

.text_small {font-size: 0.889rem;}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 800;
}

/* ----- Misc. Positions ----- */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- Colors ----- */

.whiteTxt {
    color: #ffffff;
}

/* ----- Nav-bar ----- */

nav {
    display: block;
    text-align: center;
    vertical-align: middle;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-flex;
    justify-content: space-evenly;
}

nav li a {
    text-decoration: none;
    padding: 1rem;
}

nav li a:hover {}

.active {}