@import url("https://fonts.googleapis.com/css?family=Roboto:400;600;800");

/*  Table of contents:

    1. Global styles
    2. Typography
    3. Layout
        3.1 Section
        3.2 Article
        3.3 Form
        3.4 Table
        3.5 Summary
        3.6 Misc. Positions
*/

/*  
    ================
    1. Global styles
    ================
*/

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 100%; /*16px*/
  line-height: 1.75;
}

/*  
    ==============
    2. Typography
    ==============
*/
/* ----- Font size is "Major Second" from https://type-scale.com/ -----  */

p {
  padding-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.3;
}

h1 {
  font-size: 1.802rem;
}

h2 {
  font-size: 1.602rem;
}

h3 {
  font-size: 1.424rem;
}

h4 {
  font-size: 1.266rem;
}

h5 {
  font-size: 1.125rem;
}

.small-text {
  font-size: 0.889rem;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 800;
}

/*  
    =============
    3. Layout
    =============
*/

/* ----- 3.1 Header ----- */

header {
}

/* ----- 3.2 Section ----- */

section {
}

/* ----- 3.3 Article ----- */

article {
}

/* ----- 3.4 Form ----- */

form {
}

/* ----- 3.5 Table ----- */

table {
}

/* ----- 3.6 Summary  ----- */

details {
}

/* ----- 3.7 Footer  ----- */

footer {
}

/* ----- 3.8 Misc. Positions ----- */

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inline-flex {
  display: inline-flex;
  align-items: center;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

/*  
    =============
    Components
    =============
*/

.box {
  width: 400px;
  height: 400px;
  padding: var(--cssmall-spacing-s);
  margin: var(--cssmall-spacing-xl);
}

/* ----- Nav-bar ----- */

nav {
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-flex;
  justify-content: space-evenly;
  padding: var(--cssmall-spacing-s);
  padding-right: 0;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav li a:hover {
}

.active {
}

.navBtn {
  cursor: default;
  pointer-events: none;
  display: none;
}

/* ----- Grid ----- */

.grid-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--cssmall-spacing-s);
  overflow: hidden;
}

/* ----- Toggle ----- */

.toggle {
}

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggler {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--cssmall-color-neutral-lighterx);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggler:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .toggler {
  background-color: var(--cssmall-color-primary);
}

input:checked + .toggler:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded togglers */
.toggler.round {
  border-radius: 34px;
}

.toggler.round:before {
  border-radius: 50%;
}

/* ----- Slider ----- */

.slidecontainer {
  width: 100%;
  margin: var(--cssmall-spacing-s) 0;
  grid-column: 1 / span 2;
}

.slider {
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 15px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider:hover,
.slider:focus {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 28px;
  height: 28px;
  border: 0;
  border-radius: 50px;
  background-color: var(--cssmall-color-primary);
  box-shadow: 0px 0px 15px var(--cssmall-color-primary);
  cursor: pointer;
  position: relative;
  top: -10px;
}

.slider::-moz-range-thumb {
  appearance: none;
  width: 28px;
  height: 28px;
  border: 0;
  border-radius: 50px;
  background-color: var(--cssmall-color-primary);
  box-shadow: 0px 0px 15px var(--cssmall-color-primary);
  cursor: pointer;
}

.slider::-webkit-slider-runnable-track {
  height: 100%;
  border-radius: 50px;
  background-color: var(--cssmall-color-neutral-lighter);
}

.slider::-moz-range-progress {
  height: 100%;
  border-radius: inherit;
  background-color: var(--cssmall-color-primary);
}

/* ----- Icons ----- */

.icon {
  width: 3em;
  height: 3em;
  align-items: center;
}

.logo {
  fill: #ffffff;
  padding: 0.2em;
}

@media only screen and (max-width: 880px) {
  nav {
    align-items: flex-start;
  }
  .navBtn {
    display: block;
    cursor: pointer;
    pointer-events: all;
  }
  .nav-links {
    display: none;
    height: fit-content;
  }
  nav li {
    display: flex;
  }
}
