/*  
    CSSmall by Mads Lousdal 
    github.com/MLousdal
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400;600;800');

html {font-size: 100%;} /*16px*/

body {
  background: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #555555;
}

/* ----- Fonts ----- */
/* ----- Font size is "Major Second" from https://type-scale.com/ -----  */

p {padding-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  padding: 3rem 0 1.38rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  padding-top: 0;
  font-size: 1.802rem;
}

h2 {font-size: 1.602rem;}

h3 {font-size: 1.424rem;}

h4 {font-size: 1.266rem;}

h5 {font-size: 1.125rem;}

.small-text {font-size: 0.889rem;}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 800;
}

/* ----- Misc. Positions ----- */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- Colors ----- */

.whiteTxt {
    color: #ffffff;
}

.whiteBG {
    background-color: #ffffff;
}

.dropShadow {
    filter: drop-shadow(0px 3px 6px rgba(204, 204, 204, 0.7));
}


/* ----- Nav-bar ----- */

nav {
    display: block;
    text-align: center;
    align-items: center;
    height: 3rem;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-flex;
    justify-content: space-evenly;
}

nav li a {
    text-decoration: none;
    padding: 1rem;
    color: inherit;
}

nav li a:hover {}

.active {}

/* ----- Section ----- */

section {
    width: 90%;
    margin: 0 auto 15px;
}

section img {
    width: 100%;
    padding-top: 5px;
}

/* ----- Article ----- */

article {
    padding: 0.4em;
    margin: 0 auto 5px;
}

/* ----- Form ----- */

form {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

input[type=text] {
    width: 80%;
}

select {
    width: 25%;
}

/* ----- Table ----- */

table {
    width: 100%;
}

tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
}
td {
    padding: 0.4em;

}

/* ----- Summary  ----- */

details {
    padding: 0.4em;
    border-bottom: 1px solid #cccccc;
}

/* ----- Icons ----- */

.icon {
    width: 3em;
    height: 3em;
    align-items: center;
}

.logo {
    fill: #ffffff;
    padding: 0.2em;
}