@import url('https://fonts.googleapis.com/css?family=Roboto:400');

html {font-size: 100%;} /*16px*/

body {
  background: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

/* ----- Fonts ----- */
/* ----- Font size is "Major Second" from https://type-scale.com/ -----  */

p {padding-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  padding: 3rem 0 1.38rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  padding-top: 0;
  font-size: 1.802rem;
}

h2 {font-size: 1.602rem;}

h3 {font-size: 1.424rem;}

h4 {font-size: 1.266rem;}

h5 {font-size: 1.125rem;}

small, .text_small {font-size: 0.889rem;}