@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

/*  Table of contents:

    0. Themes
    1. Global styles
    2. Typography
    3. Layout
        3.1 Misc. Positions
        3.2 Header
        3.3 Section
        3.4 Article
        3.5 Form
        3.6 Table
        3.7 Summary
        3.8 Footer
        3.9 Picture
        3.10 Break line
    4. Components
        4.1 Nav-bar
        4.2 Grid
        4.3 Switch
        4.4 Slider
        4.5 CTA
        4.6 To top button
        4.7 Fancy radio btns
        4.8 Checkbox
        4.9 Icons
    5. Media quries
*/

/*  
    ================
    0. Themes
    ================
*/

:root {
  /* ----- Spacing variables ----- */
  --spacing-s: 1rem;
  --spacing-xs: calc(var(--spacing-s) * 0.5);
  --spacing-m: calc(var(--spacing-s) * 2);
  --spacing-l: calc(var(--spacing-s) * 3);
  --spacing-xl: calc(var(--spacing-s) * 4);

  /* ----- Border variables ----- */
  --border-radius: 10px;

  /* ----- Shadows ----- */
  --shadow-normal: 0px 6px 6px;
  --shadow-btn: 0px 0px 18px;

  /* ----- Neutral Colors ----- */
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-lighterxx: hsl(0, 0%, 90%);
  --color-neutral-lighterx: hsl(0, 0%, 80%);
  --color-neutral-lighter: hsl(0, 0%, 60%);
  --color-neutral-light: hsl(0, 0%, 40%);
  --color-neutral-dark: hsl(0, 0%, 20%);

  /* ----- Notification colors ----- */
  --color-succes: hsl(87, 78%, 55%);
  --color-warning: hsl(47, 78%, 55%);
  --color-error: hsl(7, 78%, 55%);

  /* Text colors for notifications */
  --font-color-succes: hsl(0, 0%, 0%);
  --font-color-warning: hsl(0, 0%, 0%);
  --font-color-error: hsl(0, 0%, 100%);
}

.theme-light {
  --font-color: hsl(0, 0%, 0%);
  --font-color-disabled: hsl(0, 0%, 25%);
  --background-color: hsl(230, 25%, 95%);
  --foreground-color: hsl(0, 0%, 100%);
  --color-primary: hsl(204, 45%, 45%);
  --color-secondary: hsl(36, 96%, 50%);
  --shadow: hsl(0, 0%, 80%);
}

.theme-dark {
  --font-color: hsl(0, 0%, 100%);
  --font-color-disabled: hsl(0, 0%, 75%);
  --background-color: hsl(206, 41%, 15%);
  --foreground-color: hsl(206, 41%, 30%);
  --color-primary: hsl(204, 45%, 45%);
  --color-secondary: hsl(36, 96%, 50%);
  --shadow: hsl(0, 0%, 10%);
}

/*  
    ================
    1. Global styles
    ================
*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 100%; /*16px*/
  line-height: 1.75;
  color: var(--font-color);
  background-color: var(--background-color);
}

/*  
    ==============
    2. Typography
    ==============
*/

/* ----- Font size is "Major Third" from https://type-scale.com/ -----  */

p {
  padding-bottom: var(--spacing-s);
  max-width: 70ch;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.3;
  font-family: "Lato", sans-serif;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
  font-weight: 900;
}

h2 {
  font-size: 2.441rem;
  font-weight: 700;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
  font-weight: 700;
}

h5 {
  font-size: 1.25rem;
  margin-bottom: var(--spacing-s);
}

.small-text {
  font-size: 0.8rem;
}

.large-text {
  font-size: 1.25rem;
}

.semi-bold {
  font-weight: 700;
}

.bold,
b {
  font-weight: 900;
}

a {
  font-weight: 700;
  text-decoration: underline;
  color: inherit;
}

.external-link {
  margin: 0 4px 0 2px;
}

.external-link::after {
  content: "";
  background-image: url(../images/icons/foreign.svg);
  background-size: cover;
  position: relative;
  display: inline-block;
  left: 4px;
  width: 0.9rem;
  height: 0.9rem;
  filter: invert(0%) sepia(11%) saturate(7481%) hue-rotate(175deg)
    brightness(110%) contrast(91%);
}

.underline {
  padding-bottom: 2px;
  background: linear-gradient(var(--color-primary), var(--color-primary)) bottom;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: all 0.45s;
}

.underline:hover,
.underline:focus {
  background-size: 50% 2px;
  outline: none;
}

.scale,
.scale-2x {
  transition: all 0.45s;
}

.scale:hover,
.scale:focus {
  transform: scale(1.1);
}

.scale-2x:hover,
.scale-2x:focus {
  transform: scale(1.2);
}

/*  
    =============
    3. Layout
    =============
*/

/* ----- 3.1 Misc. Positions ----- */

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-flex {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.between-flex {
  display: flex;
  justify-content: space-between;
}

.end-flex {
  justify-content: flex-end;
}

.wrap-flex {
  flex-wrap: wrap;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.gap-flex-s {
  gap: var(--spacing-s);
}

.gap-flex {
  gap: var(--spacing-m);
}

.gap-flex-l {
  gap: var(--spacing-l);
}

.row-reverse-flex {
  flex-direction: row-reverse;
}

.justify-right {
  margin-left: auto;
}

.justify-left {
  margin-right: auto;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.wide {
  width: 100%;
}

.thin {
  max-width: 48%;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.hide {
  display: none;
}

/* ----- 3.2 Header ----- */

header {
}

/* ----- 3.3 Section ----- */

section {
}

/* ----- 3.4 Article ----- */

article {
}

/* ----- 3.5 Form ----- */

form {
}

/* ----- 3.6 Button ----- */

button,
input {
  border: 0;
  background-color: initial;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
  margin: 0;
}

/* ----- 3.7 Summary  ----- */

details {
}

/* ----- 3.8 Footer  ----- */

footer {
}

/* ----- 3.9 Picture  ----- */

picture img {
  width: 100%;
  height: 100%;
  display: block;
}

/* ----- 3.10 Break line  ----- */

hr {
  border: none;
}

/* Styling baseret på code-pen af Scott Zirkel https://codepen.io/scottzirkel/pen/yNxNME */

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  margin: 0;
  width: 100%;
}
.hr-text:before {
  content: "";
  background: var(--color-primary);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 0.5em;
  line-height: 1.5em;
  background-color: #d9e5ee;
}

/*  
    =============
    Components
    =============
*/

.box {
  background-color: var(--foreground-color);
  padding: var(--spacing-s);
  margin: var(--spacing-m) 0;
  box-shadow: var(--shadow-normal) var(--shadow);
}

.top {
  margin-top: var(--spacing-xl);
}

/* ----- 4.1 Nav-bar ----- */

nav {
  position: fixed;
  top: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
  background-color: var(--foreground-color);
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}

nav li {
  display: inline-flex;
  justify-content: space-evenly;
  padding: var(--spacing-xs);
}

nav a {
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  border-radius: var(--border-radius);
}

.active {
  font-weight: 700;
}

.nav-btn {
  cursor: default;
  pointer-events: none;
  display: none;
}

.nav-btn img, .nav-logo {
  width: var(--spacing-m);
  height: var(--spacing-m);
  margin: var(--spacing-xs) var(--spacing-s);
}

.nav-logo {
  font-size: 1.3333rem;
  font-weight: 900;
  font-family: "Lato", sans-serif;
}

#nav-links {
  margin: 0;
}

/* ----- 4.2 Grid ----- */

.grid-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--spacing-s);
  overflow: hidden;
}

/* ----- 4.3 Switch ----- */

.switch-container {
  display: inline-flex;
  align-items: center;
}

.switch-container::after {
  content: "Switch text here!";
  position: relative;
  left: var(--spacing-s);
}

.switch {
  display: inline-flex;
  align-items: center;
}

.switch_toggle {
  position: relative;
  cursor: pointer;
}

.switch [type="checkbox"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* default states */

.switch_toggle::before,
.switch_toggle::after {
  content: "";
  display: block;
  transition: all 0.2s ease-out;
  background: var(--color-neutral-lighter);
}

.switch_toggle::before {
  height: 1.3em;
  width: 3em;
  border-radius: 0.65em;
  opacity: 0.6;
}

.switch_toggle::after {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(0, -50%);
  height: 0.8em;
  width: 0.8em;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.4);
}

/* special states */
.switch [type="checkbox"]:hover + .switch_toggle:hover::before,
.switch [type="checkbox"]:hover + .switch_toggle:hover::after {
  background-color: var(--color-neutral-light);
}

.switch [type="checkbox"]:focus + .switch_toggle::before,
a:focus {
  outline: var(--color-neutral-dark) 1px solid;
}

.switch [type="checkbox"]:disabled + .switch_toggle {
  cursor: not-allowed;
  filter: grayscale(100%);
  opacity: 0.6;
}

.switch [type="checkbox"]:disabled:hover + .switch_toggle:hover::before,
.switch [type="checkbox"]:disabled:hover + .switch_toggle:hover::after {
  background-color: var(--color-neutral-lighter);
}

.switch [type="checkbox"]:disabled + .switch_toggle::after {
  box-shadow: none;
}

/* checked states */

.switch [type="checkbox"]:checked + .switch_toggle::before,
.switch [type="checkbox"]:checked + .switch_toggle::after {
  background-color: var(--color-succes);
}

.switch [type="checkbox"]:checked + .switch_toggle::after {
  transform: translate(calc(2em - 100%), -50%);
}

/* ----- 4.4 Slider ----- */

.slide-container {
  width: 100%;
  margin: var(--spacing-s) 0;
}

.slider {
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 15px;

  background-color: var(--color-neutral-lighter);
  transition: background-color 0.2s;
}

.slider:hover,
.slider:focus {
  background-color: var(--color-neutral-light);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 28px;
  height: 28px;
  border: 0;
  border-radius: 50px;
  background-color: var(--color-primary);
  box-shadow: 0px 0px 15px var(--color-primary);
  cursor: pointer;
  position: relative;
  top: -10px;
}

.slider::-moz-range-thumb {
  appearance: none;
  width: 28px;
  height: 28px;
  border: 0;
  border-radius: 50px;
  background-color: var(--color-primary);
  box-shadow: 0px 0px 15px var(--color-primary);
  cursor: pointer;
}

.slider::-webkit-slider-runnable-track {
  height: 100%;
  border-radius: 50px;
}

.slider::-moz-range-progress {
  height: 100%;
  border-radius: inherit;
  background-color: var(--color-primary);
}

/* ----- 4.5 CTA ----- */

.cta {
  font-weight: 700;
  padding: var(--spacing-s) var(--spacing-m);
  border-radius: var(--border-radius);
  text-decoration: none;
  margin: var(--spacing-s);
  border: none;
}

/* ----- 4.6 To top button ----- */

#toTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 50;
  border: none;
  background-color: var(--color-secondary);
  cursor: pointer;
  padding: var(--spacing-s);
  border-radius: var(--border-radius);
}

#toTopBtn img {
  display: block;
  height: 20px;
  width: 20px;
}

/* ----- 4.7 Fancy radio btns ----- */

.kontakt-type-container {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-s);
  flex-wrap: wrap;
}

.kontakt-type:checked,
.kontakt-type:not(:checked) {
  width: 0;
  height: 0;
  display: none;
}

.kontakt-type:checked + label,
.kontakt-type:not(:checked) + label {
  padding: var(--spacing-s);
  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--color-neutral-white);
  background-color: var(--color-primary);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  border-radius: var(--border-radius);
  flex: 1 1 150px;
  box-shadow: var(--shadow-normal) var(--shadow);
}
.kontakt-type:checked + label {
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-btn) var(--shadow);
}

.for-kontakt-type {
  font-weight: 700;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* ----- 4.8 Checkbox ----- */

/* The container */
.checkbox {
  display: block;
  position: relative;
  padding-left: 2em;
  cursor: pointer;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  display: none;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5em;
  width: 1.5em;
  background-color: var(--color-neutral-white);
  border-radius: 50%;
  border: 2px solid hsl(236, 33%, 92%);
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark,
.checkbox:focus input ~ .checkmark {
  border: none;
  top: 2px;
  left: 2px;
  z-index: 2;
}

/* gradiant border that appers when todo is hovered */
.checkbox::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: calc(1.5em + 4px);
  width: calc(1.5em + 4px);
  border-radius: 50%;
  z-index: 0;
  background: linear-gradient(
    to right bottom,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

/* When the checkbox is checked, add a blue background */
.done.checkmark,
.checkbox input:checked ~ .checkmark {
  background: linear-gradient(
    to right bottom,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  border: none;
  top: 2px;
  left: 2px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.done.checkmark::after,
.checkbox input:checked ~ .checkmark::after {
  display: block;
}

.done ~ .todo-text,
.checkbox input:checked ~ .todo-text {
  text-decoration: line-through;
  /* color: var(--font-color-disabled); */
}

/* Style the checkmark/indicator */
.checkbox .checkmark::after,
.checkbox input:checked ~ .checkmark::after {
  left: calc(50% - 0.4em);
  top: calc(50% - 0.4em);
  width: 0.8em;
  height: 0.8em;
  content: "";
  background: url("../images/icons/checkbox/icon-check.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
/* ----- 4.9 Icons ----- */

.icon {
  width: var(--spacing-m);
  height: var(--spacing-m);
  align-items: center;
}

.icon-small {
  width: var(--spacing-s);
  height: var(--spacing-s);
  align-items: center;
}

.icon-large {
  width: var(--spacing-xl);
  height: var(--spacing-xl);
  align-items: center;
}

.icon img,
.icon-small img {
  width: 100%;
  height: 100%;
}

.icon-white {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(156deg)
    brightness(104%) contrast(101%);
  padding: 0.2em;
}

.icon-black {
  filter: brightness(0) saturate(100%) invert(0%) sepia(99%) saturate(7478%)
    hue-rotate(201deg) brightness(115%) contrast(102%);
}

.icon-secondary {
  filter: invert(79%) sepia(50%) saturate(6680%) hue-rotate(3deg)
    brightness(108%) contrast(96%);
  padding: 0.2em;
}

.round-border {
  border-radius: 100%;
  border: solid 1px var(--color-dark);
  padding: var(--spacing-s);
  line-height: var(--spacing-s);
}

/*  
    ===============
    5. Media quries
    ===============
*/
@media screen and (max-width: 925px) {
  .kontakt-type:checked + label,
  .kontakt-type:not(:checked) + label {
    flex: 1 1 40%;
  }
}

@media only screen and (max-width: 770px) {
  nav {
    align-items: flex-start;
  }
  .nav-btn {
    display: block;
    cursor: pointer;
    pointer-events: all;
  }
  #nav-links {
    display: none;
    position: absolute;
    color: inherit;
    top: var(--spacing-xl);
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    padding: var(--spacing-s);
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
  }
  nav li {
    display: flex;
  }
}
