/*  
    webTemplate by Mads Lousdal 2021
    github.com/MLousdal/webTemplate
*/

:root {
	/* ----- Spacing variables */
	--spacing: 1rem; /* Base spacing */
	--spacing-multiplier-xs: 0.5;
	--spacing-multiplier-m: 2;
	--spacing-multiplier-l: 3;
	--spacing-multiplier-xl: 4;
  
	/* Spacing translation */
	/* For use insert fx. ´var(--spacing-s)´ into the wanted property */
	--spacing-s: var(--spacing);
	--spacing-xs: calc(var(--spacing) * var(--spacing-multiplier-xs));
	--spacing-m: calc(var(--spacing) * var(--spacing-multiplier-m));
	--spacing-l: calc(var(--spacing) * var(--spacing-multiplier-l));
	--spacing-xl: calc(var(--spacing) * var(--spacing-multiplier-xl));
  
	/* ----- Border variables */
	--border-radius: 10px;
  
	/* ----- Colors ----- */
  
	/* --- Theme Colors --- */
	--color-primary: rgb(65, 124, 169);
	--color-primary-accent: rgba(65, 124, 169, 0.2);
	--color-secondary: rgb(250, 152, 5);
	--color-secondary-accent: rgba(250, 152, 5, 0.2);
	--color-dark: rgba(25, 31, 39, 1);
  
	/* Text colors for theme */
	--color-text-on-primary: rgb(255, 255, 255);
	--color-text-on-secondary: rgb(0, 0, 0);
	--color-text-on-dark: rgb(255, 255, 255);
  
	/* --- Neutral Colors --- */
	--color-neutral-white: hsl(0, 0%, 100%);
	--color-neutral-lighterxx: hsl(0, 0%, 90%);
	--color-neutral-lighterx: hsl(0, 0%, 80%);
	--color-neutral-lighter: hsl(0, 0%, 60%);
	--color-neutral-light: hsl(0, 0%, 40%);
	--color-neutral-dark: hsl(0, 0%, 20%);
  
	/* --- Notification colors --- */
	--color-succes: hsl(87, 78%, 55%);
	--color-warning: hsl(47, 78%, 55%);
	--color-error: hsl(7, 78%, 55%);
  
	/* Text colors for notifications */
	--color-text-on-succes: rgb(0, 0, 0);
	--color-text-on-warning: rgb(0, 0, 0);
	--color-text-on-error: rgb(255, 255, 255);
  
	/* ----- Shadows ----- */
	--shadow-normal: 0px 6px 6px;
	--shadow-btn: 0px 0px 18px;
  
	/* --- Theme Colors --- */
	--shadow-primary: var(--shadow-normal) var(--color-primary-accent);
	--shadow-primary-pressed: var(--shadow-btn) var(--color-primary);
	--shadow-secondary: var(--shadow-normal) var(--color-secondary);
	--shadow-secondary-pressed: var(--shadow-btn) var(--color-secondary);
  
	/* --- Neutral Colors --- */
	--shadow-neutral-lighterx: var(--shadow-normal) var(--color-neutral-lighterx);
	--shadow-neutral-lighterx-pressed: var(--shadow-btn) var(--color-neutral-lighterx);
	--shadow-neutral-lighter: var(--shadow-normal) var(--color-neutral-lighter);
	--shadow-neutral-lighter-pressed: var(--shadow-btn) var(--color-neutral-lighter);
	--shadow-neutral-light: var(--shadow-normal) var(--color-neutral-light);
	--shadow-neutral-light-pressed: var(--shadow-btn) var(--color-neutral-light);
	--shadow-neutral-dark: var(--shadow-normal) var(--color-neutral-dark);
	--shadow-neutral-dark-pressed: var(--shadow-btn) var(--color-neutral-dark);
  
	/* --- Notification colors --- */
	--shadow-succes: var(--shadow-normal) var(--color-succes);
	--shadow-succes-pressed: var(--shadow-btn) var(--color-succes);
	--shadow-warning: var(--shadow-normal) var(--color-warning);
	--shadow-warning-pressed: var(--shadow-btn) var(--color-warning);
	--shadow-error: var(--shadow-normal) var(--color-error);
	--shadow-error-pressed: var(--shadow-btn) var(--color-error);
  }
  
  /* ----- Classes ----- */
  
  .border-radius {
	border-radius: var(--border-radius);
  }
  
  /* Paddings */
  
  .padding-xs {
	padding: var(--spacing-xs);
  }
  .padding-xs-top {
	padding-top: var(--spacing-xs);
  }
  .padding-xs-right {
	padding-right: var(--spacing-xs);
  }
  .padding-xs-bottom {
	padding-bottom: var(--spacing-xs);
  }
  .padding-xs-left {
	padding-left: var(--spacing-xs);
  }
  
  .padding-s {
	padding: var(--spacing-s);
  }
  .padding-s-top {
	padding-top: var(--spacing-s);
  }
  .padding-s-right {
	padding-right: var(--spacing-s);
  }
  .padding-s-bottom {
	padding-bottom: var(--spacing-s);
  }
  .padding-s-left {
	padding-left: var(--spacing-s);
  }
  
  .padding-m {
	padding: var(--spacing-m);
  }
  .padding-m-top {
	padding-top: var(--spacing-m);
  }
  .padding-m-right {
	padding-right: var(--spacing-m);
  }
  .padding-m-bottom {
	padding-bottom: var(--spacing-m);
  }
  .padding-m-left {
	padding-left: var(--spacing-m);
  }
  
  .padding-l {
	padding: var(--spacing-l);
  }
  .padding-l-top {
	padding-top: var(--spacing-l);
  }
  .padding-l-right {
	padding-right: var(--spacing-l);
  }
  .padding-l-bottom {
	padding-bottom: var(--spacing-l);
  }
  .padding-l-left {
	padding-left: var(--spacing-l);
  }
  
  .padding-xl {
	padding: var(--spacing-xl);
  }
  .padding-xl-top {
	padding-top: var(--spacing-xl);
  }
  .padding-xl-right {
	padding-right: var(--spacing-xl);
  }
  .padding-xl-bottom {
	padding-bottom: var(--spacing-xl);
  }
  .padding-xl-left {
	padding-left: var(--spacing-xl);
  }
  
  /* Margins */
  
  .margin-xs {
	margin: var(--spacing-xs);
  }
  .margin-xs-top {
	margin-top: var(--spacing-xs);
  }
  .margin-xs-right {
	margin-right: var(--spacing-xs);
  }
  .margin-xs-bottom {
	margin-bottom: var(--spacing-xs);
  }
  .margin-xs-left {
	margin-left: var(--spacing-xs);
  }
  .margin-s {
	margin: var(--spacing-s);
  }
  .margin-s-top {
	margin-top: var(--spacing-s);
  }
  .margin-s-right {
	margin-right: var(--spacing-s);
  }
  .margin-s-bottom {
	margin-bottom: var(--spacing-s);
  }
  .margin-s-left {
	margin-left: var(--spacing-s);
  }
  .margin-m {
	margin: var(--spacing-m);
  }
  .margin-m-top {
	margin-top: var(--spacing-m);
  }
  .margin-m-right {
	margin-right: var(--spacing-m);
  }
  .margin-m-bottom {
	margin-bottom: var(--spacing-m);
  }
  .margin-m-left {
	margin-left: var(--spacing-m);
  }
  .margin-l {
	margin: var(--spacing-l);
  }
  .margin-l-top {
	margin-top: var(--spacing-l);
  }
  .margin-l-right {
	margin-right: var(--spacing-l);
  }
  .margin-l-bottom {
	margin-bottom: var(--spacing-l);
  }
  .margin-l-left {
	margin-left: var(--spacing-l);
  }
  .margin-xl {
	margin: var(--spacing-xl);
  }
  .margin-xl-top {
	margin-top: var(--spacing-xl);
  }
  .margin-xl-right {
	margin-right: var(--spacing-xl);
  }
  .margin-xl-bottom {
	margin-bottom: var(--spacing-xl);
  }
  .margin-xl-left {
	margin-left: var(--spacing-xl);
  }
  
  /* Theme Colors */
  .color-primary {
	background-color: var(--color-primary);
	color: var(--color-text-on-primary);
  }
  .color-primary-accent {
	background-color: var(--color-primary-accent);
	color: var(--color-text-on-secondary);
  }
  .text-primary {
	color: var(--color-primary);
  }
  .color-secondary {
	background-color: var(--color-secondary);
	color: var(--color-text-on-secondary);
  }
  .color-secondary-accent {
	background-color: var(--color-secondary-accent);
	color: var(--color-text-on-secondary);
  }
  .text-secondary {
	color: var(--color-secondary);
  }
  .color-dark {
	background-color: var(--color-dark);
	color: var(--color-text-on-dark);
  }
  .text-dark {
	color: var(--color-text-on-secondary);
  }
  
  /* Neutral Colors */
  .color-neutral-white {
	background-color: var(--color-neutral-white);
  }
  .text-neutral-white {
	color: var(--color-neutral-white);
  }
  .color-neutral-lighterxx {
	background-color: var(--color-neutral-lighterxx);
  }
  .text-neutral-lighterxx {
	color: var(--color-neutral-lighterxx);
  }
  .color-neutral-lighterx {
	background-color: var(--color-neutral-lighterx);
  }
  .text-neutral-lighterx {
	color: var(--color-neutral-lighterx);
  }
  .color-neutral-lighter {
	background-color: var(--color-neutral-lighter);
  }
  .text-neutral-lighter {
	color: var(--color-neutral-lighter);
  }
  .color-neutral-light {
	background-color: var(--color-neutral-light);
  }
  .text-neutral-light {
	color: var(--color-neutral-light);
  }
  .color-neutral-dark {
	background-color: var(--color-neutral-dark);
  }
  .text-neutral-dark {
	color: var(--color-neutral-dark);
  }
  
  /* Notification colors */
  .color-succes {
	background-color: var(--color-succes);
	color: var(--color-text-on-succes);
  }
  .text-succes {
	color: var(--color-succes);
  }
  .color-warning {
	background-color: var(--color-warning);
	color: var(--color-text-on-warning);
  }
  .text-warning {
	color: var(--color-warning);
  }
  .color-error {
	background-color: var(--color-error);
	color: var(--color-text-on-error);
  }
  .text-error {
	color: var(--color-error);
  }
  
  /* --- shadows --- */
  /* Theme Colors */
  .shadow-primary {
	box-shadow: var(--shadow-primary);
  }
  .shadow-secondary {
	box-shadow: var(--shadow-secondary);
  }
  
  /* Neutral Colors */
  .shadow-neutral-lighterx {
	box-shadow: var(--shadow-neutral-lighterx);
  }
  .shadow-neutral-lighter {
	box-shadow: var(--shadow-neutral-lighter);
  }
  .shadow-neutral-light {
	box-shadow: var(--shadow-neutral-light);
  }
  .shadow-neutral-dark {
	box-shadow: var(--shadow-neutral-dark);
  }
  
  /* Notification colors */
  .shadow-succes {
	box-shadow: var(--shadow-succes);
  }
  .shadow-warning {
	box-shadow: var(--shadow-warning);
  }
  .shadow-error {
	box-shadow: var(--shadow-error);
  }
  
  /* --- Button shadows --- */
  /* Theme Colors */
  .shadow-primary-btn {
	box-shadow: var(--shadow-primary);
  }
  .shadow-primary-btn:hover,
  .shadow-primary-btn:focus {
	box-shadow: var(--shadow-primary-pressed);
  }
  .shadow-secondary-btn {
	box-shadow: var(--shadow-secondary);
  }
  .shadow-secondary-btn:hover,
  .shadow-secondary-btn:focus {
	box-shadow: var(--shadow-secondary-pressed);
  }
  
  /* Neutral Colors */
  .shadow-neutral-lighterx-btn {
	box-shadow: var(--shadow-neutral-lighterx);
  }
  .shadow-neutral-lighterx-btn:hover,
  .shadow-neutral-lighterx-btn:focus {
	box-shadow: var(--shadow-neutral-lighterx-pressed);
  }
  .shadow-neutral-lighter-btn {
	box-shadow: var(--shadow-neutral-lighter);
  }
  .shadow-neutral-lighter-btn:hover,
  .shadow-neutral-lighter-btn:focus {
	box-shadow: var(--shadow-neutral-lighter-pressed);
  }
  .shadow-neutral-light-btn {
	box-shadow: var(--shadow-neutral-light);
  }
  .shadow-neutral-light-btn:hover,
  .shadow-neutral-light-btn:focus {
	box-shadow: var(--shadow-neutral-light-pressed);
  }
  .shadow-neutral-dark-btn {
	box-shadow: var(--shadow-neutral-dark);
  }
  .shadow-neutral-dark-btn:hover,
  .shadow-neutral-dark-btn:focus {
	box-shadow: var(--shadow-neutral-dark-pressed);
  }
  
  /* Notification colors */
  .shadow-succes-btn {
	box-shadow: var(--shadow-succes);
  }
  .shadow-succes-btn:hover,
  .shadow-succes-btn:focus {
	box-shadow: var(--shadow-succes-pressed);
  }
  .shadow-warning-btn {
	box-shadow: var(--shadow-warning);
  }
  .shadow-warning-btn:hover,
  .shadow-warning-btn:focus {
	box-shadow: var(--shadow-warning-pressed);
  }
  .shadow-error-btn {
	box-shadow: var(--shadow-error);
  }
  .shadow-error-btn:hover,
  .shadow-error-btn:focus {
	box-shadow: var(--shadow-error-pressed);
  }