@use "../base/variables" as *;

.arrow {
    position: absolute;
    bottom:  $spacing-m;
    width:  $spacing-m;
    height:  $spacing-m;
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    cursor: pointer;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-image: url("../images/icons/mdi_arrow-down.svg");
        filter: var(--filter);
        position: absolute;
        inset: 0;
    }
}

@keyframes arrow {
    0% {transform: translateY(0rem);}
    50% {transform: translateY(1rem);}
    100% {transform:translateY(0rem);}
}