@use "../base/variables" as *;

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-family: unset;
  padding: $unit-05 $unit-15;
  color: var(--border);
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  letter-unit: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: $border-radius-s;
  border: $border-width solid var(--border);
  cursor: pointer;
  width: fit-content;
  margin: $border-width;

  &:hover,
  &:focus,
  &.active {
    color: var(--border-dark);
    border-width: $border-width-thick;
    border-color: var(--border-dark);
    text-decoration: none;
    margin: 0;
  }

  &.btn-sm {
    font-size: 0.6rem;
  }

  &.btn-lg {
    font-size: 1rem;
  }

  &[disabled],
  &:disabled,
  &.disabled {
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none;
  }

  &.btn-primary {
    color: var(--font-color-inverse);
    background-color: var(--color-primary);
    border-color: var(--color-primary);

    &:hover,
    &:focus,
    &.active {
      background-color: var(--color-primary-light);
      border-color: var(--color-primary-light);
    }
  }

  &.btn-success {
    color: $neutral-0;
    background-color: $success-color;
    border-color: $success-color;

    &:hover,
    &:focus,
    &.active {
      background-color: var(--color-success-light);
      border-color: var(--color-success-light);
    }
  }

  &.btn-warning {
    color: $neutral-0;
    background-color: $warning-color;
    border-color: $warning-color;

    &:hover,
    &:focus,
    &.active {
      background-color: var(--color-warning-light);
      border-color: var(--color-warning-light);
    }
  }

  &.btn-error {
    color: $neutral-0;
    background-color: $error-color;
    border-color: $error-color;

    &:hover,
    &:focus,
    &.active {
      background-color: var(--color-error-light);
      border-color: var(--color-error-light);
    }
  }
}
