@use "../base/variables" as *;

.icon {
    width: $spacing-2;
    height: $spacing-2;

    &:hover {
        filter: var(--filter);
    }

    img {
        width: 100%;
        height: 100%;
    }
}